    <div class="row header">
        <div>
            <img src="/img/leftA2.png" alt="">
        </div>
        <div> <p> Georgia </p> </div>
        <div>
            <img src="/img/rightLogo.png" alt="">
        </div>
    </div>
    <div class="row body">
      <div>
          <img src="/img/drone.png" alt="">
      </div>
      <div>
        <p>
            Proof of competion of the online training</br>
            Remote pilot certificate of competency
        </p>
      </div>
    </div>
    <div class="row footer">
      <div class="left">
        <div>
            <p>First name: Test</p>
        </div>
        <div>
            <p>USR.GE-9BB-635-DEE</p>
        </div>
      </div>
      <div class="center">
        <div>
            <p>Last name: Test</p>
        </div>
        <div>
            <p>Expiration Date: Test</p>
        </div>
      </div>
      <div class="right">
        <div id="qrcode"></div>
      </div>
    </div>
    <script src="/js/qrcode.min.js"></script>
    <script>
        //var qrdata = document.getElementById('qr-data');
        var qrcode = new QRCode(document.getElementById('qrcode'),{
            text: "https://uas.gov.ge/account",
            width: 60,
            height: 60,
            colorDark : "#ffc100",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
        
        function generateQR() {
            var data = 'https://uas.gov.ge';
            qrcode.makeCode(data);
        }

        generateQR();
    </script>